.customers-list {
  display: flex;
}
.customers-list-item:not(:last-child) {
  margin-right: 30px;
}
.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  background-color: transparent;
  border: 1px solid var(--main-icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-link:hover,
.customers-list-link:focus {
  border: 1px solid var(--accent-color);
}
.customers-list-icon {
  fill: var(--main-icon-color);
}
.customers-list-link:hover .customers-list-icon,
.customers-list-link:focus .customers-list-icon {
  fill: var(--accent-color);
}
